@font-face { font-family: college_block; src: url('font/college_block/College\ Block.otf'); } 
@font-face { font-family: college_block; font-weight: bold; src: url('font/college_block/College\ Block.otf');}
@font-face { font-family: college_block; font-style: italic; src: url('font/college_block/College\ Block.otf');}
@font-face { font-family: college_block; font-weight: bold; font-style: italic; src: url('font/college_block/College\ Block.otf');}

* {
  font-family: college_block;
}

.body{
    margin: 0;
    padding: 0;
}
#map{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: whitesmoke;
    color:blue;
    box-shadow: 0 3px 14px rgba(0,34,255,0.4);

}

.fixed-title {
    top: 1%;
    border-radius: 10px;
    position: fixed;
    color: white;
    text-align: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: blue;
    padding: 10px;
    border: 5px solid;
    border-color: white;
}

.fixed-title h1 {
  padding: 2px;
  margin: auto;
}

.btn.btn-primary{
    position: fixed;
    z-index: 2;
    text-align: center;
    padding: 10px;
    background-color: blue;
    border: 5px solid;
    border-color: white;
}

.form-control{
    position: fixed;
    z-index: 0;
    text-align: left;
    right: 10%;
    transform: translate( 50%, 10%);
}

.entered-box {
    text-align: center;
    color: white;
    border: 5px solid;
    border-color: white;
    border-radius: 10px;
    background-color: blue;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0 3px 14px rgba(0,34,255,0.9);
}

.modal-dialog.modal-dialog-centered
{
    text-align: center;
    align-items: center;
    text-size-adjust: 100%;
    word-wrap: break-word;
}

.modal-footer {
    text-align: center;
    align-items: center;
    text-size-adjust: 100%;
    word-wrap: break-word;
    padding: 10px;
}

#pontuacao {
    border-radius: 10px;
    position: fixed;
    z-index: 2;
    top: 2%;
    right: 2%;
    background-color: white;
    padding: 10px;
    border: 5px solid;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    background-color: blue;
    color: white;
}

#back-button {
    margin: 0;
    position: absolute;
    top: 24%;
    left: 92%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-block: 5px;
    line-height: 20px;
    width: auto;
    border: solid 2px white;
}

#back-button span {
  padding: none;
  margin: none;
}

#event-button {
    margin: 0;
    position: relative;
    left: -40%;
    align-items: center;
    padding-block: 5px;
}

#gps-button {
  left: 1%;
  bottom: 12%;
  z-index: 3;
  transition: 0.25s;

  line-height:30px;
  width: 60px;
  height: 60px;
  text-decoration:none;
}

#gps-button span {
  text-align: center;
  font-size: 30px;
}

#centralize-button {
  left: 1%;
  bottom: 2%;
  z-index: 3;
  transition: 0.25s;

  width: 60px;
  height: 60px;
}

#sidebar-button {
  border-radius: 10px;
  padding: 5px;
  left: 1%;
  top: 2%;
  transition: 0.25s;
  z-index: 4;
}

#sidebar-button span{
  font-size: 26px;
}

/* The side navigation menu */
.sidebar {
  background-color: rgba(0, 0, 255, 0.6);
  height: 100vh;
  width: 180px;
  z-index: 5;
  position: fixed;
  border-radius: 10px;

  transform: translateX(-100%);
  transition: 0.25s;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar.active {
  transform: translateX(0%);
  transition: 0.25s;
}

\\IDEIA lista de eventos
.sidebar ul{
  list-style-type: none;
  margin-left: 5%;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

/* Sidebar links */
.sidebar a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;

  color: #404040;
  background-color: #d5d5d5;
  border: solid #404040;
  border-radius: 10px;

  padding: 16px;
  width: 90%;
  margin-top: 0;
  margin-left: 5%;  
}

/* Links on mouse-over */
.sidebar a:hover {
  background-color: blue;
  color: white;
  border-color: white;
} 

.sidebar button {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;

  color: #404040;
  background-color: #d5d5d5;
  border: solid #404040;
  border-radius: 10px;

  padding: 16px;
  width: 90%;
  margin-top: 0;
  margin-left: 5%;
}

.sidebar button:hover{
  background-color: blue;
  color: white;
  border-color: white;
}


/* Trabalhar depois com telas menores, vulgo celular */
@media screen and (max-width: 400px) {

}