.body{
    margin: 0;
    padding: 0;
}
#map{
    margin-left: 10%;
    width: 90%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: whitesmoke;
    color:blue;
    box-shadow: 0 3px 14px rgba(0,34,255,0.4);

}

.fixed-title {
    border-radius: 10px;
    position: fixed;
    color: white;
    text-align: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: blue;
    padding: 10px;
    padding-inline: 20px;
    border: 5px solid;
    border-color: white;
}

.btn.btn-primary{
    position: fixed;
    z-index: 2004;
    text-align: center;
    padding: 10px;
    background-color: blue;
    border: 5px solid;
    border-color: white;
}

.form-control{
    position: fixed;
    z-index: 2002;
    text-align: left;
    right: 10%;
    transform: translate( 50%, 10%);
}

.entered-box {
    text-align: center;
    color: white;
    border: 5px solid;
    border-color: white;
    background-color: blue;
    position: absolute;
    z-index: 2003;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0 3px 14px rgba(0,34,255,0.9);
}

.modal-dialog.modal-dialog-centered
{
    text-align: center;
    align-items: center;
    text-size-adjust: 100%;
    word-wrap: break-word;
}

.modal-footer {
    text-align: center;
    align-items: center;
    text-size-adjust: 100%;
    word-wrap: break-word;
    padding: 10px;
}

#pontuacao {
    border-radius: 10px;
    position: fixed;
    z-index: 2004;
    top: 2%;
    right: 2%;
    background-color: white;
    padding: 10px;
    border: 5px solid;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    background-color: blue;
    color: white;
}

#back-button {
    margin: 0;
    position: absolute;
    top: 22%;
    left: 94%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-block: 5px;
}

#event-button {
    margin: 0;
    position: relative;
    left: -40%;
    align-items: center;
    padding-block: 5px;
}

#gps-button {
    right: 2%;
    bottom: 2%;
}

#centralize-button {
    left: 2%;
    bottom: 2%;
    z-index: 2007;
}

#sidebar-button {
  border-radius: 10px;
}

/* The side navigation menu */
.sidebar {
    background-color: #b8b8b8;
    height: 100vh;
    width: 300px;
    z-index: 2006;
    position: fixed;
    transform: translateX(-100%);
}

.sidebar.active {
    transform: translateX(0px);
}
  
  /* Sidebar links */
  .sidebar a {
    text-align: center;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    margin:inherit;
    border: solid black;
    border-radius: 10px;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: blue;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover {
    background-color: blue;
    color: white;
    border: solid white;
    border-radius: 10px;
  } 

  .sidebar button {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    border : none;
    border-radius: inherit;
    margin: inherit;
    background-color: #b8b8b8;
    border: solid black;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .sidebar button:hover{
    background-color: blue;
    color: white;
    border: solid white;
    border-radius: 10px;
  }

  .sb_close {
    padding: 10px;
    text-align: right;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }