@font-face { font-family: bombardier; src: url('../font/bombardier/BOMBARD_.ttf'); } 
@font-face { font-family: bombardier; font-weight: bold; src: url('../font/bombardier/BOMBARD_.ttf');}
@font-face { font-family: bombardier; font-style: italic; src: url('../font/bombardier/BOMBARD_.ttf');}
@font-face { font-family: bombardier; font-weight: bold; font-style: italic; src: url('../font/bombardier/BOMBARD_.ttf');}

* {
    border-radius: 10px;
    font-family: bombardier;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 60, 255, 0.9), rgba(30, 65, 192, 0.925));
    background-size: cover;
    background-position: center;
    text-align: center;
}

body hr {
    clear: both;
    visibility: hidden;
}

body label{
    color: white;
    font-style: bold;
    font-size: 25px;
    margin: 10px;
}

body input{
    padding-top: 10px;
    text-align: center;
}

body form{
    padding: 10px;
    padding-inline: 20px;
}

.fixed-title {
    color: white;
    align-items: center;
    background-color: blue;
    padding: 10px;
    padding-inline: 20px;
    border: 5px solid;
    border-color: white;
    display: inline-block;
}

.btn-primary{
    position: relative;
    text-align: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 35px;
    background-color: blue;
    border: 5px solid;
    border-color: white;
    font-style: oblique;
}

.secundary-title {
    color: white;
    font-style: bold;
    align-items: center;
    padding: 5px;
    padding-inline: 10px;
    margin: 5px;
    font-size: 25px;
    display: inline-block;
}

.btn-secundary{
    position: relative;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 18px;
    background-color: blue;
    border: 5px solid;
    border-color: white;
    font-style: oblique;
}

.Anim::after{
    content: '';
    width: 110%;
    height: 3px;
    bottom: -15px;
    left: -5%;
    background: white;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.Anim:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}